body {
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid black 10px;
    height: 100vh;
}

.png {
    width: 100px;
}

.png:hover {
    
}

.container {
    position: relative;
    display: flex;
    border: solid black 10px;
    width: 1024px;
    height: 768px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden; /* Ensures images fit within the container */
}

.bg-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%%;
    height: 100%;
}

img {
        width: 100%;
        height: 100%; /* Maintain aspect ratio */
        object-fit: cover; /* Cover the area without distortion */
}


.button {

}