/*custom font*/
@font-face {
    font-family: avenger;
    src: url(../fonts/AVENGER.ttf);
}

/*body flex med column*/
body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*h1 sminker seg*/
h1 {
    margin-bottom: 20px;
    font-family: avenger, cursive;
    font-size: 300%;
    letter-spacing: 0.25rem;
    color: #000;
    -webkit-text-stroke: 0.01px #ED1D24;
    position: relative;
}
/*h1 skal fylles opp med rød med font er litt rar*/
h1::before{
    margin-bottom: 20px;
    content: "Marvel Characters";
    font-family: avenger, cursive;
    top: 0;
    left: 0;
    letter-spacing: 0.25rem;
    overflow: hidden; 
    width: 0;
    height: 100%;
    color: #ED1D24;
    position: absolute;
    transition: width 1s ease-in-out;
    white-space: nowrap; /* Prevents text wrapping */
    z-index: 0;
}

h1:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px #ED1D24);

}

/*anker text*/
a {
    color: #fff;
    font-family: avenger, cursive;
    font-size: 300%;
    letter-spacing: 0.25rem;
    font-size: 300%;
    top: 50%;
    left: 50%;
}
/*ironman animasjon*/
#ironman{
    width: 100px;
    position: absolute;
    animation: moveleft 6s forwards;
}

@keyframes moveleft{
    from {
        transform:translateY(10px) translateX(1500px);
    }
    to {
        transform:translateY(-300px) translateX(-1500px);
    }
}

/*hulk animasjon*/
#minihulk {
    width: 100px;
    position: absolute;
    top: 87%;
    left: 100%;
    transform: translateY(-50%);
    animation: moveAlongPath 10s ease-in;
}

@keyframes moveAlongPath {
    from {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-1500px, 0px); /* Move to the right and up */
    }
    50% {
      transform: translate(-1300px, -300px); /* Continue right and curve down */
    }
    75% {
      transform: translate(-1500px, -500px); /* Continue right and curve back up */
    }
    to {
      transform: translate(-1700px, -500px); /* End at far right */
    }
  }
/*spiderman animasjon*/
#hangingspider {
    width: 100px;
    position: absolute;
    top: 0.4%;
    left: 90%;
    transition: transform 1s ease-in-out; /* Smooth transition both ways */
}
/*spiderman liker ikke nærkontakt*/
#hangingspider:hover {
    transform: translateY(-150px); /* Moves up */
}

/*container er ikke vampyr*/
.container {
    background-color: #000;
    position: relative; /* Set position to relative for absolute positioning of button */
    border: 10px solid rgb(0, 0, 0); /* Border around the container */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    width: 1024px;
    height: 768px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease-in-out;  
}

/*bilder er i en 3x3 posisjon*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    width: 100%;
    height: 100%;
    gap: 5px; 
    padding: 10px; 
}

.grid-img {
    transition: filter 0.3s ease-in-out;
}
/*vet ikke kofor vi har to men det fungerer*/
.grid-img{
    transition: transform 0.6s ease-in-out, filter 0.3s ease-in-out;
}

/*litt hover effekt på bildene*/
.grid-img:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    
}

/*alle bildene bilr midre og blured utenom hover*/
.grid-img:hover ~ .grid-img:not(:hover),
.grid-img:not(:hover) {
    transform: scale(0.94); 
    filter: blur(2px); 
    transition: transform 0.6s ease-in-out, filter 0.3s ease-in-out;
}

/*bildeene kan ikke bli støre en 200px*/
img {
    width: 100%; 
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
    border:0 rgb(95, 54, 54);
}

/* fin knapp med diverse rgb lightning integrert */
.button {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    display: flex;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #4CAF50; 
    color: white; 
    padding: 20px 65px; 
    font-size: 20px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    border-radius: 100px;
    background: #00007E;
    background: -webkit-linear-gradient(to right, #00007E,#0000A5,#0000DF);
    background: linear-gradient(to right, #00007E,#0000A5,#0000DF);
    color: #fff;
    transition: all 0.3s ease;
}

.button:hover{
    transform: translateX(-50%) scale(1.3);
}

.button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*hover color */
.button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -8px;
    left: -8px;
    background-size: 600%;
    z-index: -1;
    width: calc(108% + 4px);
    height: calc(120% + 4px);
    filter: blur(4px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.button:hover::before {
    opacity: 1;
}

.button:active:after {
    background: transparent;
}

.button:active {
    color: #000;
    font-weight: bold;
}